* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    height: 50px;
    width: 100%;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background: #6e6ed3;
    color: white;
}

.link+.link {
    margin-top: 20px;
}