* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 10px 0 10px;
    font-size: 18px;
}

.questions__list {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-row-gap: 5px;
    list-style-type: none;
}

.questions__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.wrapper {
    padding: 20px 20px 20px 20px;
    border: 2px solid #dfdfdf;
}
.inner  {
    background: #cce6ea;
}

.content {
    padding: 10px 10px 10px 10px;
}

.content__img-wrap {

}

.content__img {

}

.content__question {
    padding-top: 15px;
}

.content__answers {
    margin-top: 25px
}

.answer {
    display: flex;
    align-items: center;
}

.answer+.answer {
    margin-top: 10px;
}

.answer__input {
margin-right: 5px;
}

.answer__option {
    margin-left: 5px;
}

.content__btns {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 8px;
    cursor: pointer;
}

.check {
    display: inline-block;
}

@media (min-width: 320px) and (max-width: 575px) {

    body {
        font-size: 18px;
    }

    .wrapper {
        padding: 10px 10px 10px 10px;
    }

    .content__img-wrap {
        position: relative;
        max-width: 100%;
    }

    .content__img {
        width: 100%;
        object-fit: cover;
    }

    .content__question {
        text-align: justify;
    }

    .answer+.answer {
        margin-top: 30px;
    }

    .answer__option {
        max-width: 100%;
        text-align: justify;
    }

    .content__btns {
        margin-top: 50px;
    }

    .btn {
        max-width: 100px;
        padding: 4px;

    }

}